[Unit]
Description=uWSGI instance to serve PegelWacht
After=network.target

[Service]
User=pegelwacht
Group=www-data
WorkingDirectory=/home/pegelwacht/pegelwacht/src
Environment="PATH=/home/pegelwacht/pegelwacht/src/venv/bin"
ExecStart=/home/pegelwacht/pegelwacht/src/venv/bin/uwsgi --ini pegelwacht.ini

[Install]
WantedBy=multi-user.target
