{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block head %}

<script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>

{% endblock %}

{% block content%}

{%for mp in measuring_points %}




<div class=container-fluid>
	<div class=row>
		<div class="col">
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  		<strong>Haftungssauschluss:</strong>
	  		Trotz größter Sorgfalt können wir die Korrektheit der Daten nicht garantieren.
	  		Daher ersetzen die Informationen auf dieser Seite weder die offiziellen Warnmeldungen der Behörden,
	  		noch den gesunden Menschenverstand. 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-sm-5 col">
			<b>{{ mp.name }}</b> <br />
			<h2>Aktueller Pegel: {{ mp.levels[-1] | separator_conversion }} m <br />
			Tendenz: {{ mp.levels | tendency | safe }}</h2>
			Letzte Messung: {{ mp.timestamps[-1] }}
		</div>
		<div class="col-lg-9 col-sm-7 col">
			<canvas id="{{ mp.name }}_history"></canvas>
		</div>
	</div>
</div>

<script>
const ctx = document.getElementById('{{ mp.name }}_history');

const labels = {{ mp.timestamps | safe }};
const data = {
  labels: labels,
  datasets: [
	  {
		label: 'Pegel {{mp.name}} {{mp.timestamps[0]}} bis {{mp.timestamps[-1]}}',
    	data: {{mp.levels}},
    	fill: true,
    	borderColor: 'rgb(75, 192, 192)',
    	tension: 0.1,
    	pointRadius: 0,
  },
  {
	  label: 'Überschwemmungshöhe',
	  data: [{%for i in mp.levels %}{{mp.critical_level}}, {% endfor %}],
	  fill: false,
	  borderColor: 'rgb(255, 0, 0)',
	  tension: 0.1,
	  pointRadius: 0,
  }
  ]
};

const chart = new Chart(ctx, {
	  type: 'line',
	  data: data,
	});
</script>

{% endfor %}
{% endblock %}